/* .box-dark{
    box-shadow: 0 0 1rem white;
}

.box-light{
    box-shadow: 0 0 1rem black;
}

.card {
    overflow: hidden; 
    transform: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
}

.card-img-top {
    transition: transform 0.3s ease-in-out;
}
  
.card-img-top:hover {
    transform: scale(1.1);
} */

.card {
    overflow: hidden; 
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 100;
}
  
.card:hover {
    transform: scale(1.05);
    z-index: 1;
}

.card-light:hover {
    box-shadow: 0 0 8rem black; 
    /* box-shadow: 0px 0px 33px 10px black;  */
}

.card-dark:hover {
    /* box-shadow: 0px 0px 50px white;  */
    box-shadow: 0 0 8rem white; 
}

.card-img-top {
    transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.1);
}


.text-body-dark1{
    color: #babfb9;
}

.text-body-dark2{
    color: #2eff00;
}





/* Disable Hover Effects on Mobile */
@media (hover: none) and (pointer: coarse) {
    .card-light:hover, .card-dark:hover {
      transform: none;
      box-shadow: none;
    }

    .card-light:hover .card-img-top,
    .card-dark:hover .card-img-top {
        transform: none;
        box-shadow: none;
    }
}
  